<p id="notice"><%= notice %></p>

<table>
    <tr>
      <td rowspan="16">
        <%= image_tag(@product.image_url, class: 'list_image') %>
      </td>
      <td colspan="11">
        <h1>
          <strong><%= @product.title %></strong>
        </h1>
      </td>
    </tr>
    
    <br>

    <tr>
      <td colspan="1">
        <p>
          <%= strip_tags(@product.description) %>
        </p>
      </td>
      <td></td><td></td><td></td>
      <td>
        <p>
          <strong>Price:</strong>
          <%= number_to_currency(@product.price) %>
        </p>
      </td>
      <td></td><td></td><td></td><td></td>
    </tr>
    <tr><td></td></tr>
    <tr>
      <td>
        
        <%= link_to 'Back', store_index_url(@store) , class:"w3-button w3-light-gray" %>
      </td>
    </tr>
    <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
</table>